* {
  margin: 0px;
  padding: 0px;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
.w-200 {
  width: 200px;
}

.w-400 {
  width: 400px;
}

.w-600 {
  width: 600px;
}

.min-w-400{
    min-width: 400px;
}

.fix-400{
    height: 400px;
    width: 400px;
}

.m-auto {
  margin: auto;
}
img.align-items-center {
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.fl-left {
  float: left;
}

.btn {
  text-align: center;
}

.show {
  animation-name: show;
  animation-duration: 0.5s;
  animation-iteration-count: unset;
}

.hide {
  animation-name: hide;
  animation-duration: 0.5s;
  animation-iteration-count: unset;
}
@keyframes show {
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
