/* reset css */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.icon .border-face {
  height: 400px;
  width: 400px;
  border-radius: 400px;
  background-color: #92c560;
  position: relative;
}

.icon-face {
  width: 370px;
  height: 370px;
  border-radius: 400px;
  box-sizing: border-box;
  position: absolute;
}

.eye {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  position: absolute;
}

.eye-left {
  margin-left: 70px;
  margin-top: 100px;
}
.eye-right {
  margin-left: 265px;
  margin-top: 100px;
  float: right;
}

.mouth {
  background-color: #90c666;
  height: 25px;
  width: 150px;
  position: absolute;
  margin-top: 280px;
  margin-left: 120px;
}

.mounth-smile {
  border-radius: 0 0 25px 25px;
}
.mounth-angry {
  border-radius: 20px;
}
.mounth-sad {
  border-radius: 25px 25px 1px 1px;
}

.bg-smile {
  background-color: #a9db7a;
  margin: 15px;
}
.bg-angry {
  background-color: #f0d06b;
}
.bg-sad {
  background-color: #ee9295;
}

.border-smile {
  background-color: #90c666;
}
.border-angry {
  background-color: #d8ac53;
}
.border-sad {
  background-color: #e17074;
}

.m-auto {
  margin: auto;
}
